/* General */

*{
  margin: 0;
  padding: 0;
}

main {
  margin: 70px 90px;
  padding-bottom: 30px;
}

/* Banner design */

.banner {
  background-color: rgba(170, 239, 241, 0.546);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
}

.banner-title {
  padding: 50px 60px;
}

.banner-title p {
  font-weight: bold;
  color: rgb(96, 120, 143);
  font-size: 24px;
  margin-bottom: 10px;
}

.banner-title h1 {
  font-weight: bolder;
  font-size: 55px;
}

.banner-title button {
  margin-top: 15px;
  width: 250px;
  height: 50px;
  border: none;
  background-color: rgb(29, 105, 82);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.banner-title button:hover {
  background-color: rgb(92, 137, 25);
}

.banner-img {
  padding-right: 60px;

}

.banner-img img {
  width: 420px;
}

/* Pillar section */

.pillars-section {
  margin-top: 60px;
}

.pillars-all-steps {
  border: 1px solid rgb(230, 230, 230);
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
}

.pillars-section h2 {
  font-size: 34px;
  margin-bottom: 50px;
}

.pillars-steps {
  display: flex;
  column-gap: 25px;
}

.pillars-steps-title {
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 20px;
}

.pillars-steps-details {
  color: rgb(130, 130, 130);
}

/* The vision of future */

.future-vision-section {
  margin-top: 70px;
}

.future-vision-title,
.recent-news-title {
  font-size: 34px;
  margin-bottom: 24px;
}

.future-vision-para,
.recent-news-para {
  color: rgb(105, 105, 105);
  margin-bottom: 24px;
}

.digital-transformation {
  background-color: rgb(188, 238, 255);
  padding: 25px 25px;
  border-radius: 14px;
}

.green-energy {
  background-color: rgb(255, 170, 170);
  padding: 25px 25px;
  border-radius: 14px;
}

.modern-infrastructure {
  background-color: rgb(193, 255, 221);
  padding: 25px 25px;
  border-radius: 14px;
}

.digi-trans-title,
.green-energy-title,
.modern-infrastructure-title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}

.future-vision-steps {
  display: flex;
  column-gap: 10px;
}

.digital-transformation-para,
.green-energy-para,
.modern-infrastructure-para {
  margin-top: 12px;
  margin-bottom: 22px;
  color: rgb(64, 64, 64);
}

.learn-more-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(78, 125, 234);
  color: rgb(236, 236, 236);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.green-energy-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(161, 78, 234);
  color: rgb(233, 233, 233);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.modern-infrastructure-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 118, 76);
  color: rgb(237, 237, 237);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.recent-news-btn {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: rgb(255, 120, 78);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  margin-top: 6px;
  cursor: pointer;
}

.learn-more-btn:hover,
.green-energy-btn:hover,
.modern-infrastructure-btn:hover,
.recent-news-btn:hover {
  background-color: cadetblue;
  cursor: pointer;
}

/* Recent News */

.recent-news {
  margin-top: 80px;
}

.recent-news-content {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.recent-news2-content {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.satelite-img {
  border-radius: 20px;
}

.recent-news-details {
  margin-left: 30px;
  margin-top: 8px;
}

.bd-satelite-title {
  font-size: 30px;
  margin-bottom: 16px;
}

.al-jazeera-img {
  margin-bottom: 10px;
}

.recent-news-date {
  margin-bottom: 14px;
  color: rgb(56, 56, 56);
}

.recent-news-para {
  margin-top: 4px;
}

/* Satelites functions! */

.recent-news2-details {
  margin-right: 30px;
}

/* Donate Today */

.donation {
  margin-top: 100px;
}

.donate-title {
  font-size: 34px;
  text-align: center;
  margin-bottom: 30px;
}

.donate-para {
  text-align: center;
  margin-bottom: 25px;
  color: rgb(96, 96, 96);
}

.donate-amount {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.donate-amount button {
  width: 200px;
  height: 100px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  border-radius: 15px;
  background-color: rgb(255, 87, 58);
  color: white;
  margin-top: 8px;
  cursor: pointer;
}

.donate-amount button:hover {
  background-color: rgb(255, 40, 2);
  cursor: pointer;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 700px;
  height: 70px;
  margin-top: 10px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 50px;
  text-align: center;
}

input::placeholder {
  font-size: 20px;
  color: rgb(143, 143, 143);
}

.input-section button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  background-color: rgb(24, 113, 230);
  color: white;
  cursor: pointer;
}

.input-section button:hover {
  background-color: blue;
  cursor: pointer;
}

/* subscribe section*/

.subscribe{
  margin-top: 60px;
  background-color: rgb(207, 253, 255);
  height: 300px;
  padding: 70px 200px;
  border-radius: 30px;
}

.subscribe-details {
  align-items: center;
  text-align: center;
}

.sub-title {
  font-size: 34px;
  margin-bottom: 24px;
}

.sub-para {
  color: rgb(80, 80, 80);
  margin-bottom: 15px;
}

.sub-input-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-input-section button {
  width: 220px;
  height: 70px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(33, 242, 173);
  border: 1px solid rgb(175, 175, 175);
  border-radius: 50px;
  font-weight: bold;
}

.sub-input-section button:hover {
  background-color: chartreuse;
}

.sub-last-para {
  margin-top: 24px;
  color: rgb(114, 114, 114);
}

.sub-input {
  border-radius: 4px;
  height: 70px;
  border-radius: 50px;
}





